<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
                <h4><span style="background-color:#e9e9e9;">ショッピングカート</span></h4>
                <!-- ショッピングカートテーブル -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-4" style="background-color:#e9e9e9;">商品名</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">単価(税込)</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">数量</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">小計</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <a>商品画像 </a><a> イチゴのショートケーキ</a>
                            </th>
                            <td>1,110</td>
                            <td>
                                <a>個数</a>
                                <div>
                                <button type="button" class="btn btn-primary">変更</button>
                            	</div>
                            </td>
                            <td>1,100
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">削除する</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-8 pull-left">
                    <button type="button" class="btn btn-primary">買い物を続ける
                    </button>
                </div>
                <div class="col-xs-4">
                    <table class="table table-bordered">
                        <div class="row">
                            <th>合計金額</th>
                            <th>合計金額</th>
                            <!--ここに合計金額が入る-->
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>