/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
	padding-top:90px;
}


header {
	a {
	color: SaddleBrown;
	font-family: ＭＳ Ｐゴシック;
	font-size: 18px;
}
	li {
	font-size: 15px;
	padding: 4px;
	margin-right: -20px;
	position: absolute;
	left: 50px;
}
	ul {
	padding-top: 10px;
	padding-right: 20px;
		.topmenu :hover{
 	    color: Ivory;
        background-color: SaddleBrown;
    }
  }
}

body {
	background-color: Ivory;
}

footer {
	margin-top: 20px;
	color: SaddleBrown;
	background-color: #fadd76;
	text-align: center;
	width: 100%;
	height: 40px;
}
.footer-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contents-p{
	margin-top: 10px;
}
.footerlogo{
	width: auto;
	height: 35px;
}

.logo {
	width: 317px;
	height: 67px;
	position: absolute;
	top: 8px;
	left: 120px;
}

.header-mark{
	width: 180px;
	height: 180px;
	position: absolute;
	top: -63px;
	left: -20px;
}

.jumbotron {
	padding: 10px;
	background-color: #fadd76;
}

.item_index_row {
.table {
	margin: 0 auto;
	width: 80%;
	border: solid 1px;
	border-color: silver;
}
}