/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
	padding-top:215px;
}



header {
	a {
	color: Wheat;
	background-color: SaddleBrown;
}
	li {
	font-size: 15px;
	padding: 4px;
}
	ul {
	padding-top: 20px;
  }
}

body {
	background-color: Ivory;
}

.glyphicon-log-out{
	top: 10px;
	left: 10px;
}

footer {
	text-align: center;
	.footer-address {
	padding-right: 178px;
	}
}

.item_index_row {
.table {
	margin: 0 auto;
	width: 80%;
	border: solid 1px;
	border-color: silver;
}
}

.logo {
	width: 300px;
	height: 300px;
	position: absolute;
	top: -50px;
	left: 120px;
}

.header-mark{
	width: 180px;
	height: 180px;
	position: absolute;
	top: -100px;
	left: -20px;
}

.jumbotron {
	padding: 10px;
	background-color: #fadd76
}