// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart{
	margin-top: 50px;
}

.btn-success {
    left: 400px;
    letter-spacing: 2px;
}

.cart-title{
	margin-top: -20px;
	background-color: none;
	color: SaddleBrown;
}

.single-delete{
	position: relative;
	left: 43px;
}
.cart-table{
	.cart-form{
		width: 50%;
		position: relative;
		background-size: 20px;
	}
	.form-control{
		width: 50%;
	}
	.cart-btn{
		margin-left: 10px;
	}
}
.continue{
	width: 125px;
}