// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
	padding-left: 300px;
}

.delivery-form{
	margin-top: 0px;
}
.deli-title{
	font-size: 2em;
	color: SaddleBrown;
}

.delivery-table{
	th{
	color: SaddleBrown;
	font-size: 1.1em;
	border-top: 0px !important;
  	border-bottom: 0px !important;
  }
  td{
	border-top: 0px !important;
  	border-bottom: 0px !important;
  }
}
.delivery-new{
	text-align: right;
}
.deli-index-table{
	th{
	color: SaddleBrown;
	font-size: 1.1em;
	background-color:#faf0e6;
  }
  td{
  }
}