// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//genre_search
.genre_table {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-color: gray;
	font-size: 1.2em;
	color: SaddleBrown;
}
.genre_thead {
	padding: 0.15em 0;
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
	font-size: 1.2em;
	border-color: gray;
}

.genre_tr {
	margin: 0.7em;
}

.genre_link {
	color: SaddleBrown;
}


// genre_index
.genre_title {
	margin-bottom: 1em;
	font-size: 2em;
	color: SaddleBrown;
}

.genre_form {
	margin: 2em 0.5em;
	display: inline;
	color: SaddleBrown;
}

.genre_form_span {
	margin-right: 0.5em;
	color: SaddleBrown;
}

.genre_span {
	margin: 0.5em;
	font-size: 1.2em;
	color: SaddleBrown;
}

.genre_row {
.table {
	width:45%;
th {
	color: SaddleBrown;
.genre_column2,.genre_column3 {
	text-align: center;
}}}}