// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//genre_search
.genre_table {
	background-color: #fff;
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-color: gray;
}
.genre_thead {
	background-color: #faf0e6;
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
	border-color: gray;
}

.genre_tr {
	margin: 0.5em;
}