// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.div_table {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
}
.div_thead {
	background-color: #fffaf0;
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
}

.div_tr {
	margin: 5px 10px;
}