// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-title{
	font-size: 2em;
	color: SaddleBrown;
}
.user-table{
	th{
		color: SaddleBrown;
	}
}
.user-title-table{
	font-size: 2em;
	color: SaddleBrown;
		th,td{
		padding-bottom: 15px;
	}
}
.admin-user-index-table{
	text-align: center;
	th{
		color: SaddleBrown;
		text-align: center;
	}
}
.admin-user-show-table{
	th{
		font-size: 1.2em;
		color: SaddleBrown;
		border-top: 0px !important;
  		border-bottom: 0px !important;
	}
	td{
		border-top: 0px !important;
  		border-bottom: 0px !important;
	}
}
.admin-user-edit-table{
	th{
		font-size: 1.2em;
		color: SaddleBrown;
		border-top: 0px !important;
  		border-bottom: 0px !important;
	}
	td{
		border-top: 0px !important;
  		border-bottom: 0px !important;
	}
}
.user-table-line{
	th{
		color: SaddleBrown;
	}
}
.leave-confirm-message{
	width: 100%;
	height: 250px;
	text-align: center;
	margin-top: 50px;
}

.user-edit-table{
  th{
	color: SaddleBrown;
	font-size: 1.2em;
	border-top: 0px !important;
  	border-bottom: 0px !important;
  }
  td{
	border-top: 0px !important;
  	border-bottom: 0px !important;
  }

}