<div class="new">
    <div class="container">
        <div class="row">
            <h3><strong>注文詳細画面</strong></h3><br>
            <!-- 注文履歴詳細テーブル -->
            <div class="col-xs-8">
                <table class="table">
                    <tr>
                        <th>
                            <h4><strong>購入者</strong></h4>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <h4><strong>配送先</strong></h4>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <h4><strong>支払方法</strong></h4>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <h4><strong>注文方法</strong></h4>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <h4><strong>注文ステータス</strong></h4>
                        </th>
                        <td>
                            <a>ステータス選択タグが入る</a><button type="button" class="btn btn-primary">更新
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-8">
                <table class="table">
                    <thead style="background-color:#e9e9e9;">
                        <tr>
                            <th class="col-xs-3">商品名</th>
                            <th class="col-xs-2">単価</th>
                            <th class="col-xs-2">数量</th>
                            <th class="col-xs-2">小計</th>
                            <th class="col-xs-2">制作ステータス</th>
                            <th class="col-xs-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><button type="button" class="btn btn-primary">更新
                                </button></th>
                        </tr>
                    </tbody>
            </div>
            </table>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <table>
                <tr>
                    <th class="col-xs-5">
                        <h4><strong>商品合計</strong></h4>
                    </th>
                    <td class="col-xs-7"></td>
                </tr>
                <tr>
                    <th class="col-xs-5">
                        <h4><strong>送料</strong></h4>
                    </th>
                    <td class="col-xs-7"></td>
                </tr>
                <tr>
                    <th class="col-xs-5">
                        <h4><strong>請求金額合計</strong></h4>
                    </th>
                    <td class="col-xs-7"><strong>ここに金額が入る</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>