<%= link_to image_tag("about1.png", class: "about-title") %><br />
<div class="about-box1">
	<span class="about-text1">「Nagano cake」は、とっても美味しいデザートを
	全国にお届けしています！</span>
</div>

<br />
<br />

<%= link_to image_tag("about2.png", class: "about-detail") %><br />
<span class="about-text2">ご注文者様の住所以外にも商品を発送することもできます<br />
遠くに住んでいらっしゃるご友人やご家族へのプレゼントなどに、ご利用ください！</span>
<br />


<br />
<h4>※ こちらのサイトでは注文に応じて制作する受注生産型となります。</h4>
<h4>※ 送料は１配送につき全国一律800円となります。</h4>
