<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<span class="image-center">
				<%= image_tag("about1.png", class: "about-title") %><br />
			</span>
			<div class="col-xs-12">
				<div class="about-box1">
					<span class="about-text1">「Nagano cake」は、とっても美味しいデザートを全国にお届けしています！</span>
				</div>
			</div>
			<div class="col-xs-12">
				<span class="image-center">
					<%= image_tag("about2.png",class: "about-detail")%>
				</span>
				<div class="about-box2">
					<span class="about-text2">ご注文者様の住所以外にも商品を発送することができます<br />
					遠くに住んでいらっしゃるご友人やご家族へのプレゼントなどに、ご利用ください！</span>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="about-attention">
					<p>！注意！</p>
					<h4>※ こちらのサイトでは注文に応じて制作する受注生産型となります。</h4>
					<h4>※ 送料は１配送につき全国一律800円となります。</h4>
				</div>
			</div>
		</div>
	</div>
</div>
