<h1 class="about-title">About Nagano Cake</h1>
<br />
<h2>　【所在地】 〒123-4567 長野県長野市〇〇１丁目２ー３</h2>
<h2>【電話番号】 123-4567-8901</h2>
<br>
<h4>・　こちらのサイトでは注文に応じて制作する受注生産型となります。</h4>
<h4>・　送料は１配送につき全国一律800円。</h4>
<h4>・　ご友人やご家族へのプレゼントなど、ご注文者様の住所以外にも商品を発送できます。
</h4>