<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-8 col-xs-offset-2 adminlogin">
          <% resource = Admin.new unless resource %>
          <%= form_for(resource, as: resource_name, url: new_admin_admin_session_path(resource_name)) do |f| %>
          <div class="form-group">
            <table class="table devise-table">
              <tr>
                <th class="col-xs-3">メールアドレス</th>
                <td>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
                </td>
              </tr>
              <tr>
                <th class="col-xs-3">パスワード</th>
                <td>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </td>
              </tr>
              <tr>
                <td align="center" colspan="2">
                  <%= f.submit "　　　ログイン　　　" ,class: "btn btn-lg btn-brown " %>
                </td>
              </tr>
            </table>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>