<div class="col-xs-3">
	<div>
		<div>ジャンル検索</div>
		<% genres.each do |genre| %>
			<div class="genre_search_tr"><%= link_to genre.name, items_path(genre) %></div><!-- 飛び先はid参照のifで分岐 -->
		<% end %>
	</div>
</div>