<div class="col-xs-2">
	<div class="div_table">
		<div class="div_thead">ジャンル検索</div>
		<% genres.each do |genre| %>
			<div class="div_tr"><%= link_to genre.name, searched_index_item_path(genre) %></div>
		<% end %>
	</div>
</div>