<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
                <h4><span style="background-color:#e9e9e9;">注文情報確認</span></h4>
                <!-- ショッピングカートテーブル -->
                <div class="col-xs-7">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col-xs-6">商品名</th>
                                <th scope="col-xs-2">単価(税込)</th>
                                <th scope="col-xs-2">数量</th>
                                <th scope="col-xs-2">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a>商品画像</a><a>イチゴのショートケーキ</a>
                                </td>
                                <td>1,110</td>
                                <td>個数</td>
                                <td>1,100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <table class="table table-bordered">
                        <tr>
                            <th>送料</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>商品合計</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>請求金額</th>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <h4>支払方法</h4><a>ここに支払い方法反映</a>
                <h4>お届け先</h4><a>ここにお届け先反映</a><br>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <button type="button" class="btn btn-success">購入を確定する</button>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</div>