<div class="new">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3><span style="background-color:#e9e9e9;">注文履歴一覧</span></h3><br>
                <!-- 注文履歴一覧テーブル -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">注文日</th>
                            <th class="col-xs-3" style="background-color:#e9e9e9;">配送先</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">注文商品</th>
                            <th class="col-xs-1" style="background-color:#e9e9e9;">支払金額</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">ステータス</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">注文詳細</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a>日時</a>
                            </td>
                            <td><a>商品名</a>
                            </td>
                            <td><a>郵便番号</a><br>
                                <a>住所</a><br>
                                <a>名前</a>
                            </td>
                            <td>
                                <a>金額</a>
                            </td>
                            <td>
                                <a>入金確認</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">表示する</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>