<div class="new">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3><span style="background-color:#e9e9e9;">注文履歴詳細</span></h3><br>
                <!-- 注文履歴詳細テーブル -->
                <table class="table table-bordered　col-xs-4">
                    <tr>
                        <th>注文日</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>配送先</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>支払方法</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>ステータス</th>
                        <td></td>
                    </tr>
                </table>
                <table class="table table-bordered　col-xs-3">
                    <tr>
                        <th>商品合計</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>配送料</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>ご請求金額</th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>