.admin-order-edit-charge{
	margin-top: 330px;
}

.admin-order-index-title{
color: SaddleBrown;
}

.admin-order-edit-orderitems-head{
	line-height: 30px
}

.admin-order-edit-orderitems-body{
	line-height:50px;
}

.admin-orders-edit-orderstatus{
	padding-left: 30px;
}

.text{
	padding-left: 10px;
	font-size: 15px
}

.btn-primary{
	width:60px;
}
